// footer-bg
.footer-bg{
    background: url(../images/bg-footer.jpg) 50% top no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // @include gradient(#ab803f, $primaryColor, horizontal);
    color: #fff;

    .fatfooter{
        nav {
            ul{
                li{
                    a{
                        color: #fff;

                        &:hover, &:focus{
                            color: #fff;
                            background: darken(#845922, 10);
                        }
                    }
                }
            }
        }
    }
    .footer{}
}



.fatfooter {
    // @include make-fatfooter($fatfooter-length, 100%);
    @extend %clearfix;
    overflow: hidden;
    padding-bottom: 1em;
    margin: 0 auto;
    // background: $fatfooterBgColor;
    //   @include screen('mobile') {
    //     display: none;
    // }
    .container {
        overflow: hidden;
        @include box-sizing;
        @include gutter;
    }
    // 按鈕
    .btn-fatfooter {
        font-size: .813em;
        display: block;
        width: 4em;
        height: 4em;
        margin: 0;
        color: #FFF;
        border: none;
        background: #fff;
        position: absolute;
        right: 1%;
        z-index: 90;
        text-indent: -9999px;
        @include border-radius(0);
        &:before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border: 2px solid $primaryColor;
            border-left: none;
            border-bottom: none;
            transform: rotate(-45deg);
            transform-origin: center;
            left: 50%;
            top: calc(50% - 4px);
            margin-left: -6px;
            transition: .3s ease-out;
        }
        &:hover,
        &:focus {
            background: darken($aHover, 10);
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            border: none;
            box-shadow: none;
            outline: none;
            border: none;
            cursor: pointer;
        }
        &.close {
            &:before {
                transform: rotate(135deg) !important;
                top: calc(50% - 8px);
                // top: 5px;
            }
        }
    }
    nav {
        overflow: hidden;
        display: block;
        position: relative;
        padding: 3em 0 0 0;
        @include box-sizing;
        @include screen('mobile') {
            padding: 1em 0;
        }
        ul {
            @include li-reset;
            
            li {
                display: inline-block;
                text-align: left;
                vertical-align: top;
                margin: 0 -5px 1em 0;
                width: calc(100% / 5);
                @include box-sizing;
                @include screen('mobile') {
                    display: block;
                    margin:0 0 .4em
                }
                a {
                    line-height: 1.5;
                    display: block;
                    font-weight: bold;
                    padding: .5em .5em;
                    @include box-sizing;
                    &:hover{
                        box-shadow: none;
                    }
                }
                ul {
                    margin-top: 5px;
                    @include screen('mobile') {
                        width: auto;
                    }
                    li {
                        display: block;
                        margin: 0;
                        border: none;
                        background: none;
                        width: 100%;
                        @include screen('mobile') {
                            display:inline-block;
                            width:auto;
                        }
                        a {
                            display: block;
                            @include aSetting_nocolor;
                            font-weight: normal;
                            text-align: left;
                            // font-size: .938em;
                            line-height: 1.5em;
                            padding: .5em .2em;
                            background: none;

                            &:before{
                                content: '';
                                display: inline-block;
                                vertical-align: middle;
                                width: 10px;
                                height: 2px;
                                background: rgba(255,255,255,.5);
                                margin-right: .5em;
                            }
                            @include screen('mobile') {
                                padding:.3em .2em;
                            }
                        }
                    }
                    //第三層關閉
                    ul {
                        display: none;
                    }
                }
            }

            @include screen('mobile') {
                width: 100%;
                display: block;
                margin: 0px auto;

                li{ width: 100%; }
            }
        }
    }


    // flex 版本
    // nav {
    //     overflow: hidden;
    //     display: block;
    //     position: relative;
    //     padding: 3em 0 0 0;
    //     @include box-sizing;
    //     @include screen('mobile') {
    //         padding: 1em 0;
    //     }

    //     >ul{
    //         -webkit-box-sizing: border-box;
    //         box-sizing: border-box;
    //         display: -webkit-box;
    //         display: -ms-flexbox;
    //         display: flex;
    //         flex-flow: row wrap;
    //         >li{
    //             flex: 1 1 0;
    //         }
    //     }

    //     ul {
    //         @include li-reset;
    //         @include screen('mobile') {
    //             width: 100%;
    //             display: block;
    //             margin: 0px auto;
    //         }
    //         li {
    //             display: inline-block;
    //             text-align: left;
    //             vertical-align: top;
    //             margin: 0 -5px 1em 0;
    //             font-size: 1.125em;
    //             @include box-sizing;
    //             @include screen('mobile') {
    //                 display: block;
    //                 margin:0 0 .4em
    //             }
    //             a {
    //                 line-height: 1.5;
    //                 display: block;
    //                 font-weight: bold;
    //                 padding: .5em 0px;
    //                 @include box-sizing;
    //                 &:hover{
    //                     box-shadow: none;
    //                 }
    //             }
    //             ul {
    //                 margin-top: 5px;
    //                 @include screen('mobile') {
    //                     width: auto;
    //                 }
    //                 li {
    //                     display: block;
    //                     margin: 0;
    //                     border: none;
    //                     background: none;
    //                     width: 100%;
    //                     font-size: .9em;
    //                     @include screen('mobile') {
    //                         display:inline-block;
    //                         width:auto;
    //                     }
    //                     a {
    //                         display: block;
    //                         @include aSetting_nocolor;
    //                         font-weight: normal;
    //                         text-align: left;
    //                         // font-size: .938em;
    //                         line-height: 1.5em;
    //                         padding: .5em .2em;
    //                         background: none;

    //                         &:before{
    //                             content: '';
    //                             display: inline-block;
    //                             vertical-align: middle;
    //                             width: 10px;
    //                             height: 2px;
    //                             background: white;
    //                             margin-right: .5em;
    //                         }
    //                         @include screen('mobile') {
    //                             padding:.3em .2em;
    //                         }
    //                     }
    //                 }
    //                 //第三層關閉
    //                 ul {
    //                     display: none;
    //                 }
    //             }
    //         }
    //     }
    // }
}