.tabSet {
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    // background: #fff;
    @extend %clearfix;
    @include screen('mobile') {
        width: auto;
        height: auto !important;
    }
}
.tabs {
    position: relative;
    &>.tabItem {
        &.active>a {
            background-color: $primaryColor;
            color: #FFF;

            position: relative;

            &:after{
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background: $primaryColor;
                position: absolute;
                transform: rotate(45deg);
                left: calc(50% - 8px);
                z-index: 3;
                bottom: -6px;
            }
        }
        float: left;
        margin: 0;
        padding: 0;
        font-size:1.25em;
        line-height: 1;

        @include screen('mobile') {
            float: none;
            &>a {
                width: 100% !important;
                border-bottom: 1px solid #eee;
            }
            &.active>a { border-color: #888; }
        }
        &>a {
            display: block;
            padding: .9em 0;
            text-align: center;
            // background-color: #aaa;
            // background: rgba(30,37,93,0.25);
            background-color: rgba(234,234,234,0.75);
            color: #222;
            font-weight: bold;
            text-decoration: none;
            // @include text-overflow;
            @include box-sizing;
            &:hover, &:focus {
                color: #fff;
                background: $primaryColor;
            }
        }
    }
}
//多組 可設定差異
.example-2 {
    .tabItem>a:hover {
        background: $secondaryColor;
    }
    .tabItem.active>a {
        background: $secondaryColor;
    }
}
// 顯示content
.active+.tabContent {
    display: block;

    @include screen('mobile') {
        // background: #f3f3f3;
    }
}
.tabContent {
    background: #fff;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 20px;
    display: none;

    @include screen('mobile') {
        position: static;
    }
    ul {
        // @include li-reset;
        overflow: hidden;
    }
    li {
        // margin: 0 0 .9em 0;
        // margin: .65em 0;
        // padding: 0;
        // padding: .65em 0;
        line-height: 1.6;
        border-bottom: 1px #CCC dashed;
        // margin-bottom: .65em;
        padding-top: .65em;
        padding-bottom: .65em;

        &:last-child{
            border-bottom: transparent;
        }
        @include screen('mobile') {
            // @include text-overflow();
        }

        a {
            // @include aSetting_nocolor;
            // display: inline-block;
            // padding: .65em 0;
            // color: #222;

            // text-decoration: none;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // color: $aColor;

            
            overflow:hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding: .65em 0;
            // color: #555;
            transition: all ease .3s;
            // display: block;
            display: inline;
            display: -ms-inline-flexbox;
            padding: 0 .25em;
            // border-bottom: dotted 1px #ddd;

            time {
                display: inline-block;
                // margin: 0 0 0 1em;
                margin: 0 1em;
                font-size: .813em;
                color: #666;
                transition: all ease .3s;
                margin-right: .75em;
                font-weight: bold;
            }

            &:hover, &:focus{
                // background: $secondaryColor;
                // color: #fff;
                // time { color: #fff; } 
                &:before{
                    background: #fff;
                }
            }

            @include screen('tablet') {
                white-space: initial;
                time{ display: block; margin: .15em 0; }
                &:hover, &:focus{
                    time { color: #666; } 
                }
            }
        }

        li{
            &:last-child{
                border-bottom: 0;
            }

            li{
                border-bottom: 0;
                padding: .25em 0;
            }
        }
    }

    ol{
        ol{
            list-style-type:cjk-ideographic;
            margin-bottom: 0;
            ol{
                list-style-type:lower-latin;
                margin: .25em 0;
            }
        }
    }
}