* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
body{ position: relative; }
.wrapper {
    width: 100%;
    margin: 0px auto;
    background: url(../images/bg-mp.jpg) 50% top no-repeat,#eee;
    background-size: cover;
    background-attachment: fixed;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }

    &.NP2, &.NP3, &.NP4, &.NP5, &.NP6, &.NP6, &.NP7, &.NP8, &.NP9{
        background: none;
        .innerpage{
            position: relative;
            .bg-box-L{
                // position: absolute;
                position: fixed;
                background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
                width: 763px;
                height: 475px;
                z-index: -1;
                top:10%;
                left: -20%;
            }
            .bg-box-R{
                // position: absolute;
                position: fixed;
                background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
                width: 763px;
                height: 475px;
                z-index: -1;
                top:30%;
                right: -20%;
            }
        }
        .basic-bg{
            position: absolute;
            z-index: -2;
            background: url(../images/bg-mp.jpg) 50% top no-repeat,#eee;
            background-size: cover;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
            top:0;
        }
    }
    // &.NP2{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP3{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP4{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP5{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP6{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP7{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP8{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
    // &.NP9{
    //     .innerpage{
    //         .bg-box-L{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //         .bg-box-R{
    //             background: url(../images/bg-side_NP2.png) 50% 50% no-repeat;
    //         }
    //     }
    // }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.main {
    position: relative;
    margin: 0 auto;
    padding: 0;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 55px;
    }
    h2 {
        // line-height: 1.25em;
        line-height: 1.8;
    }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    padding-top: 2em;
    @include screen('tablet') {
        padding-top: 5em;
    }
    >.container {
        @include gutter(); //gutter 代表左右要留白
    }
}


// Flex
.Flex{
    display: flex;
    flex-flow: row nowrap;

    // h2.title,
    .breadcrumb,
    .function_panel{
        flex: 1 1 50%;
        align-self: center;
    }

    @include screen('tablet') {
        flex-flow: row wrap;
        .breadcrumb,
        .function_panel{
            flex: 1 1 100%;
        }
    }
}

// 條件查詢
.Conditional_query{
    .switch{
        margin: auto;
    }
    form{
        margin: .5em 0;
        padding: 1.5em 2em;
        background: #fff;
        border-radius: 6px;
        box-shadow: 0px 0px 12px 0px rgba(210, 210, 210,0.75);

        &.form_grid{
            border-top: 0;

            display: none;
        }
    }
}

// Q&A
.QA{
    >ul{
        @include li-reset;
        li{
            margin-bottom: .45em;
            a.title{
                // display: block;
                // color: #fff;
                // background: #627080;
                padding: .75em 1.25em .75em 3.5em !important;
                // border-radius: 4px;
                time{
                    display: inline-block;
                    padding: 0 .75em 0 .75em;
                    margin-right: .75em;
                    border-right: dotted 1px rgba(255,255,255,0.5);
                }
                &:before{
                    content: 'Q';
                    margin-left: -2.4em;
                    background: rgba(255,255,255,0.25);
                    width: 26px;
                    height: 26px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    line-height: 26px;
                }

                &.active{
                    background: $primaryColor;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .accordion-content{
                background: #fff;
                padding: 1em 2em;
                box-shadow: 0px 0px 120px 0px rgba(0,0,0,0.25);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                display: none;

                ul, ol{
                    padding-top: .5em;
                    padding-bottom: .5em;
                }
            }

            &:first-child{
                >.accordion-content{ display: block; }
            }
        }
    }
}

// 全文檢索
table.gsc-search-box td{ border: transparent; }
.gsc-search-box-tools .gsc-search-box .gsc-input{
    padding-left: 0 !important;
    padding-right: 0 !important;
    // border: transparent;
}
.gsc-input-box{
    height: 100% !important;
}
.gsib_a, .gsib_b{ background: #fff; }
.gsc-search-button-v2{ margin-top: 0; }
.gsc-search-button-v2 svg{ vertical-align: middle; }
.gsc-selected-option{ min-width: 90px; }
























